<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Note</title>
  </head>
  <body>
    <h1>Create Note</h1>
    <h3>User: <%= user.username %></h3>
    <form method="POST">
      <label for="noteContent">Note Content:</label>
      <textarea type="text" name="noteContent"></textarea>
      <br />
      <input type="hidden" name="status" value="active" />
      <br />
      <button>Create Note</button>
    </form>
    <% if(errors) { %>
    <ul>
      <% for(let i = 0; i < errors.length; i++) { %>
      <li><%= errors[i].msg %></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
